<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732295032278-6nat2i6ijflrujijpn1t3sp4kd4fcnun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732295032278-6nat2i6ijflrujijpn1t3sp4kd4fcnun</string>
	<key>API_KEY</key>
	<string>AIzaSyBNLElDxdLLKmcBzsiyAgQJoV3mbfWYv10</string>
	<key>GCM_SENDER_ID</key>
	<string>732295032278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imt.mobiletraining</string>
	<key>PROJECT_ID</key>
	<string>octopus-40</string>
	<key>STORAGE_BUCKET</key>
	<string>octopus-40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732295032278:ios:c216b762e47c9ff2328877</string>
</dict>
</plist>